<app-card-container>
  <header class="welcome-header">
    <h1 class="welcome-title">{{labels[0]?.NombreApp || 'FestivAlarm'}}</h1>    
    <div class="welcome-options">
      <button 
        type="button" 
        class="btn btn-primary btn-full"
        (click)="navigateToLogin()">
        {{labels[0]?.BotonIniciarSesion || 'Iniciar Sesión'}}
      </button>

      <button 
        type="button" 
        class="btn btn-outline btn-full"
        (click)="navigateToRegister()">
        {{labels[0]?.BotonRegistrarse || 'Registrarse'}}
      </button>
    </div>
  </header>
</app-card-container>